In [18]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [19]:
df = pd.read_csv('../datasets/df_after_outliers.csv')
df.head()

,location,size,total_sqft,bath,price,BHK,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2.0,3699.810606
1,Uttarahalli,3 BHK,1440.0,2.0,62.00,3.0,4305.555556
2,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3.0,6245.890861
3,Kothanur,2 BHK,1200.0,2.0,51.00,2.0,4250.000000
4,Old Airport Road,4 BHK,2732.0,4.0,204.00,4.0,7467.057101

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7955 entries, 0 to 7954
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location        7955 non-null   object
 1   size            7955 non-null   object
 2   total_sqft      7955 non-null   float64
 3   bath            7955 non-null   float64
 4   price           7955 non-null   float64
 5   BHK             7955 non-null   float64
 6   price_per_sqft  7955 non-null   float64
dtypes: float64(5), object(2)
memory usage: 435.2+ KB

In [21]:
df_copy1 = df.copy()

In [22]:
df_copy1

,location,size,total_sqft,bath,price,BHK,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2.0,3699.810606
1,Uttarahalli,3 BHK,1440.0,2.0,62.00,3.0,4305.555556
2,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3.0,6245.890861
3,Kothanur,2 BHK,1200.0,2.0,51.00,2.0,4250.000000
4,Old Airport Road,4 BHK,2732.0,4.0,204.00,4.0,7467.057101
...,...,...,...,...,...,...,...
7950,Bellandur,2 BHK,1262.0,2.0,47.00,2.0,3724.247227
7951,Uttarahalli,3 BHK,1345.0,2.0,57.00,3.0,4237.918216
7952,Green Glen Layout,3 BHK,1715.0,3.0,112.00,3.0,6530.612245
7953,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2.0,5258.545136
7954,Doddathoguru,1 BHK,550.0,1.0,17.00,1.0,3090.909091

**Applying One Hot Encoding on Location Column.**

In [23]:
pd.get_dummies(df_copy1,columns=['location'])

,size,total_sqft,bath,price,BHK,price_per_sqft,location_1st Block Jayanagar,location_1st Phase JP Nagar,location_2nd Phase Judicial Layout,location_2nd Stage Nagarbhavi,...,location_Vishveshwarya Layout,location_Vishwapriya Layout,location_Vittasandra,location_Whitefield,location_Yelachenahalli,location_Yelahanka,location_Yelahanka New Town,location_Yelenahalli,location_Yeshwanthpur,location_other
0,2 BHK,1056.0,2.0,39.07,2.0,3699.810606,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,3 BHK,1440.0,2.0,62.00,3.0,4305.555556,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,3 BHK,1521.0,3.0,95.00,3.0,6245.890861,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,2 BHK,1200.0,2.0,51.00,2.0,4250.000000,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,4 BHK,2732.0,4.0,204.00,4.0,7467.057101,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7950,2 BHK,1262.0,2.0,47.00,2.0,3724.247227,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7951,3 BHK,1345.0,2.0,57.00,3.0,4237.918216,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7952,3 BHK,1715.0,3.0,112.00,3.0,6530.612245,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7953,2 BHK,1141.0,2.0,60.00,2.0,5258.545136,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7954,1 BHK,550.0,1.0,17.00,1.0,3090.909091,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [24]:
pd.get_dummies(df_copy1.location,dtype='int')

,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7950,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7951,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7952,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7954,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
ohe = pd.get_dummies(df_copy1.location,dtype='int')
ohe

,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7950,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7951,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7952,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7953,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7954,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
ohe.drop(columns=['other'],inplace=True)

In [27]:
df_copy1.shape

(7955, 7)

In [28]:
concat_dummy = pd.concat([df_copy1, ohe], axis=1)
concat_dummy

,location,size,total_sqft,bath,price,BHK,price_per_sqft,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2.0,3699.810606,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Uttarahalli,3 BHK,1440.0,2.0,62.00,3.0,4305.555556,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3.0,6245.890861,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Kothanur,2 BHK,1200.0,2.0,51.00,2.0,4250.000000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Old Airport Road,4 BHK,2732.0,4.0,204.00,4.0,7467.057101,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7950,Bellandur,2 BHK,1262.0,2.0,47.00,2.0,3724.247227,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7951,Uttarahalli,3 BHK,1345.0,2.0,57.00,3.0,4237.918216,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7952,Green Glen Layout,3 BHK,1715.0,3.0,112.00,3.0,6530.612245,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7953,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,60.00,2.0,5258.545136,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7954,Doddathoguru,1 BHK,550.0,1.0,17.00,1.0,3090.909091,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
(concat_dummy.location == 'other').sum()

1048

In [30]:
df = concat_dummy

In [31]:
df.sample(10)

,location,size,total_sqft,bath,price,BHK,price_per_sqft,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
7641,Sarjapur Road,2 BHK,1044.0,2.0,55.00,2.0,5268.199234,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3042,Vijayanagar,1 BHK,606.0,1.0,40.00,1.0,6600.660066,0,0,0,...,1,0,0,0,0,0,0,0,0,0
520,7th Phase JP Nagar,2 BHK,1040.0,2.0,39.52,2.0,3800.000000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
468,Uttarahalli,2 BHK,1101.0,2.0,45.00,2.0,4087.193460,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2485,Balagere,2 BHK,1007.0,2.0,65.00,2.0,6454.816286,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7931,other,2 BHK,1256.0,2.0,65.00,2.0,5175.159236,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3258,Begur Road,2 BHK,1200.0,2.0,45.00,2.0,3750.000000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1740,Binny Pete,1 BHK,660.0,1.0,54.00,1.0,8181.818182,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3538,Kothanur,3 BHK,1760.0,3.0,111.00,3.0,6306.818182,0,0,0,...,0,0,0,0,0,0,0,0,0,0
559,Hennur Road,3 BHK,1904.0,3.0,120.00,3.0,6302.521008,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
df.shape

(7955, 246)

In [34]:
df_final = df.drop(columns=['size','location','price_per_sqft'])

In [37]:
df_final[df_final['1st Block Jayanagar'] == 1]

,total_sqft,bath,price,BHK,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
3022,1000.0,3.0,60.0,2.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5087,1760.0,3.0,115.0,3.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7955 entries, 0 to 7954
Columns: 243 entries, total_sqft to Yeshwanthpur
dtypes: float64(4), int64(239)
memory usage: 14.7 MB

In [40]:
df_final.to_csv('../datasets/final_df.csv',index=False)